/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
}

.navbar ul {
	float:right;
	list-style-type: none;
	margin-top: 25px;
}

.navbar ul li {
	display: inline-block;
}

.navbar ul li a {
	text-decoration: none;
	font-size: 1.3em;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: 0.8s ease;
}

.a-ex:hover {
	background-color: transparent;
	color: transparent;
}
.navbar ul li.active a {
	background-color: #fff;
	color: #000;
}

.main {
	background-color: rgba(65, 70, 82);
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,.5)
}

.main div {
	display: inline;
}

.logo {
	float: left;
	width: 15%;
}

.navbar {
	float: right;
	width: 75%;
}

.logo img {
	float: left;
	width: 150px;
	height: auto;
	margin-top: 12px;
	margin-left: 15px;
}

.main {
	width: 100%;
	height: 10%;
	position: fixed;
	user-select: none;
	z-index: 999;
	transition: all .5s;
}

.main div {
 	display: inline;
}

.navbar label, #hamburger {
	float: right;
	display: none;
}

#hamburger {
 color: white;
}

@media screen and (max-width: 976px) and (orientation: landscape) {
	.main {
		height: 17vh;
	}
}

@media screen and (max-width: 1024px) {
	.det-wrapper div {
		width: 90%;
	}
}


@media screen and (max-width: 976px) {
	.title p {
		font-size: 15px !important;
	}
	.title h2 {
		font-size: 30px !important;
	}
	.title {
		margin-top: 9.5vh !important;
	}
	.main div {
		display: inline;
	}	

	.navbar .label1 {
		margin-top: 12px;
		margin-right: 15px;
		color: white;
		font-size: 2em;
		position: relative;
		display: block !important;	
	}

	nav {
		float: right !important;
		display: block !important;
	}

	ul {
		margin-top: 0;
		width: 80%;
		display: none !important;
	}

	#hamburger:checked ~ ul {
		padding: 10px;
		background-color: white;
		display: block !important;
		transition: all .5s;
	}

	#hamburger:checked ~ ul li a {
		color: black;
	}

	#hamburger:checked ~ .navbar .label1 {
		display: none;
	}

	#hamburger:checked ~ .navbar .label2 {
		display: block;
	}

	ul li {
		display: block !important;
		padding-bottom: 8% !important;
		margin-top: 1% !important;
	}
}

.subscribe {
	position: relative;
	direction: rtl;
}
.subscribe > * {
	direction: ltr;
}
.subscribe > div {
	display: block;
}

.subscribe:hover .wrapper-arrow div {
	display: block;
}

.wrapper-arrow {
	position: absolute;
}

.wrapper-arrow div {
	display: none;
	float: right;
}

.up-arrow {
	margin-top: 3%;
	margin-right: 10%;
	border-color: #414652 transparent;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
}

.isi-arrow {
	position: relative;
	text-align: center;
	width: 45vw;
	color: white;
	border-radius: 5px;
	border-color: black
	border-style: solid;
	border-width: 1px;
}
.isi-arrow img {
	border-radius: 5px;
}
.det-wrapper {
	display: inline-block;
	height: auto; 
	background-color: #282c34; 
	color: white; 
	width: 100%; 
	padding: 6.5% 5% 2% 5%;
}

.card {
	color: #a1a7b3;
	position: relative;
	background-color: #1b1e1b;
	float: right;
	width: 30%;
	display: block;
	padding-bottom: 1%;
}
.card div {
	width: 100%;
}

.str-wrapper {
	background-color: #e4e7ed;
	color: #5c616e;
	width: 100%;
	height: auto;
	padding: 3%;
	font-weight: bold;
}