footer {
	margin-top: 35px;
	background-color: #999475;
	font-family: 'Jost', sans-serif;
	width: 100%;
	float: left;
	padding: 10px;
	bottom: 0;
	box-sizing: border-box;
}

footer * {
	display: inline;
	width: 50%;
}
.ft-wrapper2 {
	margin-right: 35px;
	float: right;
	text-align: right;
}
.ft-wrapper2 * { 
	text-decoration: none; 
	color: black;
}