@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap');

html, body {
	margin: 0;
	width: 100%;
	height: auto;
	max-height: auto;
	scroll-behavior: smooth;
}
html {
	font-family: "helvetica neue", sans-serif;
}
body {
	background-color: #ecf0f1;
}
/*
	Custom Scrollbar
*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.cur div{
	color: #f38423;
}
.nav {
	font-family: "helvetica neue", sans-serif;
	user-select: none;
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	height: 70px;
	line-height: 70px;
	position: fixed;
	width: 100%;
	margin: 0;
	top: 0;
	box-sizing: border-box;
	background-color: white;
	z-index: 999;
	-webkit-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
}
.nav img {
	width: auto;
	height: 100%;
	float: left;
	padding: 7px 0 7px 60px;
	box-sizing: border-box;
}
.nav-menu {
	margin: 0;
	z-index: 999;
	padding-right: 60px;
}
.nav-menu a {
	text-decoration: none;
	color: black;
	margin: 0;
	line-height: 70px;
	height: 100%;
	font-size: 1em;
	font-weight: 600;
}
.nav-menu a:hover {
	color: #f38423;
	transition: color .5s;
}
.nav-menu a div {
	display: inline-block;
	padding: 0 10px;
}
.nav-menu a div:hover {
	border-bottom: 3px solid #f38423;
}
label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	user-select: none;
}
#hambur {
	display: none;
}
.main {
	width: 100%;
	max-height: auto;
}
/*
Untuk Layar Mobile
*/
@media only screen and (max-width: 500px) {
	.inner-sticky {
		bottom: 60px !important;
		visibility: visible !important;
	}
}
@media only screen and (max-width: 768px) {
	.ctn-index {
		padding: 7px;
	}
	.goputt {
		display: none !important;
	}
	.food {
		width: 46% !important;
		font-size: .9em !important;
		font-weight: 00;
	}
	.inner-sticky {
		bottom: 60px !important;
		visibility: visible !important;
	}
	.nav img {
		padding: 7px 0 7px 30px;
	}
	label {
		display: block;
		cursor: pointer;
		width: 26px;
		float: right;
	}
	.nav-menu {
		text-align: center;
		width: 100%;
		display: none;
		background-color: white;
		padding-right: 0px; 
	}
	.nav-menu a {
		clear: right;
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
		width: 100%;
	}
	.nav-menu a:hover {
		color: #f38423;
		background-color: #ecf0f1;
		transition: color .5s;
	}
	#hambur:checked ~ .nav-menu {
		display: block;
	}
	#hambur:checked ~ #overlay {
		visibility: visible;
	}
	.food {
		margin: 4px;
	}
	.ctn-tron div {
		vertical-align: top;
		display: inline-block;
		align-content: center;
		width: 95% !important;
		padding: 2%;
	}
	.ctn-tron2 div {
		vertical-align: top;
		display: inline-block;
		align-content: center;
		width: 95% !important;
		padding: 2%;
	}
	.welcom {
		width: 90% !important;
	}
}

#overlay {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background-color: #95a5a6; 
	opacity: .6;
	z-index: 998;
	visibility: hidden;
}
.list-mn {
	margin-top: 105px;
	width: 100%;
	text-align: center;
}
.food {
	display: inline-block;
	width: 24%;
	position: relative;
	border-radius: 3px; 
	font-size: 20px;
	-webkit-box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
}
.food {
	background-color: #f38423;
	margin: : 16px;	
	box-sizing: border-box;	
	padding-bottom: 3px;
	font-family: "helvetica neue", sans-serif;
}
.food img {
	width: 100%;
	margin-bottom: 3px;
	border-radius: 3px 3px 0 0;
}
.nav2 {
	z-index: 998;
	width: 100% !important;
	height: 140px;
	position: sticky;
	top: 0;
	transition: all .5s ease;
}
.dummy {
	position: 
	width: 100%;
	display: block;
	height: 70px;
}
.sticky2 {
	width: 100%;
	background-color: white;
	height: 70px;
	z-index: 998;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -8px rgba(0,0,0,0.75);
}
.sticky2 a {
	text-decoration: none;
	color: black;
	margin: 0;
	line-height: 70px;
	height: 100%;
	font-size: 1em;
	font-weight: 600;
	user-select: none;
	cursor: pointer;
}
.sticky2 a:hover {
	color: #f38423;
	transition: color .5s;
}
.sticky2 a div {
	display: inline-block;
	padding: 0 10px;
}
.sticky2 a div:hover {
	border-bottom: 3px solid #f38423;
}
.sticky2 * {
	display: inline;
}
.mn-laksa {
	padding: 0 0 0 0;
}
.ctn-tron div {
	vertical-align: top;
	display: inline-block;
	float: right;
	width: 45%;
	padding: 2%;
}
.ctn-tron2 div {
	vertical-align: top;
	display: inline-block;
	float: left;
	width: 45%;
	padding: 2%;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.baten {
  border: none;
  user-select: none;
  cursor: pointer;
  font-family: "helvetica neue", sans-serif;
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  border-radius:35px;
  border-width: 1px;
  user-select: none;
}
.baten-menu {
	background-color: #f38423;
	font-family: "Jost", sans-serif;
}
.baten-gofood {
	background-color: #ee2737;
	color: white;
	width: 140px;
	box-sizing: content-box;
}
.baten-wa {
	background-color: #ecf0f1;
	color: white;
	width: 140px;
	box-sizing: content-box;
}
.baten-gofood *{
	vertical-align: middle;
	display: inline;
	text-align: center;
}
.inner-sticky {
	visibility: hidden;
}